<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ExcelOutputUrl" value="D:\\AutomationTesting\\Output"/>
		<add key="ExcelInputUrl" value="D:\\AutomationTesting\\Input"/>
		<add key="ExcelName" value="Demo"/>
		<add key="FacebookUrl" value="https://facebook.com"/>
		<add key="BatchSize" value="20"/>
	</appSettings>
</configuration>